<div align="center">
  <div class="new-story-form">
    <%= form_for(@story) do |f| %>
      <div class="pad">
        <% if @story.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

            <ul>
            <% @story.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :fullname, "Full Name" %>
          <%= f.text_field :fullname %>
        </div>
        <div class="field">
          <%= f.label :username, "Snapchat Username" %>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :url, "Your Website (if you have one)" %>
          <%= f.text_field :url %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <input name="story[all_tags]" type="hidden" value="<%=@story.all_tags%>" />
        </div>
        <div class="field">
          <%= f.label :tags %>
          <ul id="tags">
            <% @story.tags.each do |tag| %>
              <li><%=tag.name%></li>
            <% end %>
          </ul>
        </div>
        <div class="field">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, as: :file %>
        </div>

        <% if current_user.admin %>
          <div class="field">
            <%= f.label :followers %>
            <%= f.number_field :followers %>
          </div>
          <div class="field">
            <%= f.label :frequency %>
            <%= f.number_field :frequency %>
          </div>
          <div class="field">
            <%= f.label :verified %>
            <%= f.check_box :verified %>
          </div>
        <% end %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  function updateTagHiddenField() {
    $('input[name="story[all_tags]"]').attr('value', $("#tags").tagit("assignedTags"))
  }
  $(document).ready(function() {
    $("#tags").tagit({
      fieldName: "tag_words",
      afterTagAdded: function(event, ui) {
        updateTagHiddenField()
        // do something special
        console.log(ui.tag)
      },
      beforeTagRemoved: function(event, ui) {
          // do something special
          console.log(ui.tag);
      }
    });
  });
  $("input[type='text']").change(function() {
    $(this).css('background-color', 'rgba(255,255,255,0.1)')
  })
  $("textarea").change(function() {
    $(this).css('background-color', 'rgba(255,255,255,0.1)')
  })
  $("input[type='number']").change(function() {
    $(this).css('background-color', 'rgba(255,255,255,0.1)')
  })
</script>
